<div class="container">

<div class="row top-nav">
  <div class="six columns">
    <ul class="nav">
      <li>{{#link-to "home"}}Home{{/link-to}}</li>
      <li>{{#link-to "music"}}Music{{/link-to}}</li>
      <li><a href="http://boblong.ghost.io">blog</a></li>
    </ul>
  </div>
</div>

{{liquid-outlet}}
</div>
